/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Nov 13, 2020, 3:39:35 PM
    Author     : JingX
*/

.display-1{
    /*margin-top:30px;*/
    font-size:40px;
    margin-left:14px; 
    font-weight: bold;
}

/*
body{
    margin:40px;
    font-family: Verdana, sans-serif;
    background-image:url("../images/loginpage.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
*/


#price{
    color:black;
    font-weight: bold;
    text-decoration: underline;
    font-size:20px;
}

#error{
    color:red;
    font-weight: bold;
    font-size:15px;
}


.carousel-item img {
    width: auto;
    height: 450px;
    max-height: 450px;
}

.hotel_selected{
   font-weight: bold;
}

.col-icon{
    font-size:20px;
    color:black;
    font-weight:bold;
    border-style:dotted;
    border-width:2px;
    border-color:#FF1493;
    border-radius:25px;
    text-align:center;
}

.card {
    margin: 0 auto; 
    float: none; 
    width:400px;
}
#card-h2{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    text-align:center;
    margin-top:50px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



